@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #00a1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 1rem;
}

.logo {
  cursor: default;
}

.add-todo {
  color: #00a1ff;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border: 0.05rem solid #00000038;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-todo:hover {
  background-color: #00a1ff;
  color: white;
}

.main {
  height: 100%;
  display: flex;
  gap: 0.05rem;
  background-color: #00000038;
  border-top: #00000038 solid 0.05rem;
}

.list {
  background-color: #dfdfdf;
  width: 15rem;
}

.todos {
  background-color: white;
  flex: 1;
}

/*Modal CSS*/

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-div {
  padding: 1rem;
  background-color: white;
  width: 50%;
  height: 50%;
  border: 0.2rem solid #00a1ff;
  border-radius: 0.5rem;
}

.modal-div form {
  display: flex;
  gap: 1rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  color: #868686;
}

.priority label {
  margin-right: 1rem;
}

#close-btn {
  font-size: 2rem;
  color: #868686;
  border: none;
  background-color: white;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#reset-btn,
#submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 0.2rem solid #00a1ff;
  border-radius: 0.5rem;
  font-weight: bold;
}

#reset-btn {
  color: #00a1ff;
  background-color: white;
}
#reset-btn:hover {
  color: white;
  background-color: #00a1ff;
}

#submit-btn {
  color: white;
  background-color: #00a1ff;
}

#submit-btn:hover {
  color: #00a1ff;
  background-color: white;
}

/* Todos list items CSS */

.todos-ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.todos-ul li {
  padding: 0.2rem;
  list-style-type: none;
  display: flex;
  border: 0.1rem solid #868686;
}

.todos-ul .urgent {
  border-left: 0.2rem solid red;
}

.todos-ul .normal {
  border-left: 0.2rem solid green;
}

.todo-title {
  margin-right: auto;
}

.todo-date {
  margin-right: 1rem;
}

.todo-delete {
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #868686;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* lists CSS */

.todos-lists {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  cursor: pointer;
}

.todos-lists .active {
  font-weight: bold;
}
